.background-and-profile {
  height: 300px;
}

.background-picture-container {
  width: 100%;
  height: 200px;
}

.background-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-container {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture {
  width: 100%;
  height: 100%;
}

.user-name {
  font: arial;
}
