.Items-container {
  padding: 2rem;
  margin: 0 auto;
}

.Items-container h1 {
  color: #333;
  margin-bottom: 2rem;
}

.Items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Responsive grid */

@media (max-width: 1024px) {
  .OrderCard-container {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 640px) {
  .OrderCard-container {
    width: calc(100% - 2rem);
  }
}
